.main-navigation {
    align-self:flex-end;
    display:block;
}
.logo {
    justify-content: flex-start;
}
.reallocate-header{
    background-color: #004185;
}
.reallocate-heading {
    margin: 0;
    font-style: italic;
    font-size: 2.5em;
}
.reallocate-heading a:hover {
    color: #FFFFFF;
}
a {
    color:#FFFFFF;
}
.top-navigation li a:hover, .top-navigation li a:visited {
    background-color: #245c96;
    color: #FFFFFF;
}
.top-navigation li a:active {
    background-color: #346cA6;
}