.reallocate-header{
    background-color: #004185;
}
.reallocate-heading {
    margin: 0;
    font-style: italic;
    font-size: 2.5em;
}
.reallocate-heading a:hover {
    color: #FFFFFF;
}
a {
    color:#FFFFFF;
}