body {
  background-color: #FAFAFA;
  margin: 0;
  padding: 0;
  width:100%;
  font-family: sans-serif;
}
.btn {
    padding: 8px 16px;
    text-align: center;
    display: flex;
    align-items: center;
}
.btn.background-1 {
  color: #FFFFFF;
}
.btn.background-1:hover {
  background-color: #245c96;
}
header {
  width: 100%;
}
.container {
  width:100%;
  display: flex;
}
.flex-col {
  flex-flow: column;
}
.wrap {
  flex-wrap: wrap;
}
.even-space {
  justify-content: space-between;
}
.sidebar {
  flex-basis: 300px;
  flex-shrink: 7;
  flex-grow: 1;
}
.main-content {
  flex-basis: 1024px;
  flex-shrink: 3;
  flex-grow: 9;
  padding: 16px;
}
.background-1 {
  background-color: #004185;
}
.pad-md {
  padding: 8px;
}
.pad-sm {
  padding: 16px;
}
.pad-lg {
  padding: 32px;
}
.card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-hover:hover {
  box-shadow: 0 3px 9px rgba(0,0,0,0.25), 0 2px 4px rgba(0,0,0,0.22);
}

.reallocate-heading {
  font-style: italic;
  font-size: 2.5em;
}
header .logo {
  margin: 0 auto 0 0;
  padding: 16px;
}
h1, h2, h3, h4 {
  font-weight: bolder;
}

.colored-hover:hover {
  background-color: #346cA6;
}
.colored {
  background-color: #245c96;
}
.button {
  padding:16px 16px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a::selection {
  text-decoration: none;
}
.v-center-items {
  align-items: center;
}
.btn p {
  color: #FFFFFF;
  line-height: 100%;
  text-align: center;
  margin: 0;
}

.txt-primary-colored {
  color: #004185;
}
.txt-primary-dark {
  color:rgba(0,0,0,0.87);
}
.txt-primary-light {
  color:#FFFFFF;
}
.bordered {
  border: 1px solid #a9b9c5;
  border-radius: 3px;
}
*{
  word-wrap: break-word;
}