.enrolment-header {
    background-color: #245c96;
    padding: 8px 16px;
    margin: 0;
}
.enrolment-header-text {
    font-weight: bolder;
    font-size: 2em;
    margin: 0;
}
.unit-navigation {
    margin: 16px 0;
}
.main-content {
    padding: 0;
}